/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
}

/* Remove list styles on li */
li {
  list-style: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  outline: none;
  font: inherit;
}


button {
  background: none;
  border: none;
}
