<div class="select">
  <div class="field" [class.field_focus]="isOpen" (click)="onClick()">
    <div class="field__label" [class.field__label_up]="isOpen || !!selectedCount">{{label}}</div>
    <div class="field__value" [ngClass]="{
    'field__value_hidden': !isOpen && !selectedCount,
    'field__value_entered': !!selectedCount
}">
      {{selectedCount ? 'Выбраны ' + selectedCount : placeholder}}
    </div>
  </div>

  <ul class="list" [class.list_hidden]="!isOpen">
    <li class="list__item-wrapper" *ngFor="let item of items; let i = index">
      <app-checkbox class="list__item" [label]="item" (onCheckboxChange)="selectChanged($event)"
                    [isChecked]="defaultSelectedValues.includes(item)"></app-checkbox>
    </li>
  </ul>
</div>
