.select {
  position: relative;
}

.field {
  position: relative;
  width: 100%;
  padding: 7px 0;
  border-bottom: 1px solid var(--color-input-default);
  font: var(--font-text);
  color: var(--color-text-description);

  &_focus {
    border-bottom: 1px solid var(--color-input-active);
  }

  &__label {
    transform: translateY(100%);
    transform-origin: 0 0;
    transition: transform 0.3s;

    &_up {
      transform: translateY(40%) scale(0.8);
    }
  }

  &__value {
    &_hidden {
      opacity: 0;
    }

    &_entered {
      color: var(--color-text-main);
    }
  }
}

.list {
  position: absolute;
  bottom: -130px;
  left: 0;
  right: 0;
  background-color: var(--color-white);
  box-shadow: var(--shadow);
  height: 130px;
  overflow: hidden;
  overflow-y: auto;

  &_hidden {
    display: none;
  }

  &__item-wrapper {
    &:hover {
      background-color: var(--color-input-default);
    }
  }

  &__item {
    --checkbox-padding: 14px;
  }
}
