@import "mixins";

.pagination {
  margin-top: 52px;
  @include flex(row);
  gap: 18px;

  &__prev, &__next, &__page, &__dots {
    background: none;
    border: none;
  }

  &__page {
    font: var(--font-pagination);

    &_active {
      font: var(--font-caption);
      color: var(--color-pagiation-active);
    }
  }
}
