@import "mixins";

.pagination {
  margin-top: 52px;
  @include flex(row);
  gap: 18px;
  font: var(--font-pagination);

  &__prev, &__next, &__page {
    &:not(:disabled):hover {
      @extend %filter-hover;
    }
  }

  &__page {
    &_active {
      font: var(--font-caption);
      color: var(--color-pagiation-active);
    }
  }
}
