@import "variables";
@import "reset";

body {
  background-color: var(--color-background);
  color: var(--color-text-main);
  font-family: var(--font-family);
}

.title {
  font: var(--font-title);
}

.subtitle {
  font: var(--font-subtitle);
  margin-bottom: 35px;
}
