@mixin flex($direction, $content: flex-start, $items: stretch, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $items;
  flex-wrap: $wrap;
}

%filter-hover {
  filter: invert(42%) sepia(32%) saturate(7488%) hue-rotate(210deg) brightness(105%) contrast(101%)
}
