<div class="card" *ngIf="card">
  <div class="card__back" (click)="back()">
    <img src="assets/icons/back.svg" alt="Назад">
    <span>Вернуться</span>
  </div>
  <h1 class="card__title title">{{card.title}}</h1>

  <div class="card__description">
    <app-description class="card__info" name="Формат" [text]="card.format"></app-description>
    <app-description class="card__info" name="Жанр" [text]="card.genres"></app-description>
    <app-description class="card__info" name="Страна" [text]="card.countryOfOrigin"></app-description>
    <app-description class="card__info" name="Статус" [text]="card.status"></app-description>
    <app-description class="card__info" [isRow]="false" name="Описание" [text]="card.description"></app-description>
  </div>
</div>
