@import "mixins";

.container {
  @include flex(row, space-between);
  height: 100vh;
  overflow-y: hidden;
}

.list {
  padding: 52px 64px;
  flex-grow: 1;
  overflow-y: auto;

  &__title {
    margin-bottom: 64px;
  }

  &__items {
    @include flex(column);
    gap: 40px;
  }
}

.filters {
  width: 393px;
  height: 100vh;
  border-left: 1px solid var(--color-border);
  background-color: var(--color-white);
  padding: 52px 32px;

  &__form {
    @include flex(column);
    gap: 33px;
  }

  &__caption {
    font: var(--font-caption);
    margin-bottom: 21px;
  }

  &__radiobutton {
    @include flex(column);
    gap: 12px;
  }
}


