@import "mixins";

.container {
  @include flex(row, space-between);
  height: 100vh;
  overflow-y: hidden;
}

.list {
  padding: 52px 64px;
  overflow-y: auto;

  @media (max-width: 768px) {
    padding: 32px;
  }

  &__header {
    @include flex(row, space-between, center);
    margin-bottom: 64px;
  }

  &__filter-icon {
    display: none;
    cursor: pointer;

    @media (max-width: 1200px) {
      display: block;
    }
  }

  &__items {
    @include flex(column);
    gap: 40px;
  }
}

.filters {
  min-width: 400px;
  height: 100vh;
  border-left: 1px solid var(--color-border);
  background-color: var(--color-white);
  padding: 52px 32px;

  @media (max-width: 1200px) {
    display: none;
  }
}


