<div class="container">
  <div class="list">
    <div class="list__header">
      <h1 class="list__title title">Аниме и манги</h1>
      <div class="list__filter-icon">=</div>
    </div>

    <ul class="list__items">
      <app-list-item *ngFor="let item of list$ | async"
                     [item]="item">
      </app-list-item>
    </ul>

    <app-pagination *ngIf="pagination$ | async as pagination" [totalPages]="pagination.lastPage"
                    [activePage]="pagination.currentPage" (paginationChanged)="changePage($event)"></app-pagination>
  </div>

  <div class="filters">
    <app-list-filters [formats]="formats" [genres]="(genres$ | async) ?? []"></app-list-filters>
  </div>
</div>
